name: Build

on:
  workflow_dispatch:
  push:
    branches: ['main']
    paths:
      - 'core/**'
      - 'config/**'
      - 'gradle/**'
      - '*.gradle.kts'
      - 'gradle.properties'
      - 'lint.xml'
  pull_request:
    paths:
      - 'core/**'
      - 'config/**'
      - 'gradle/**'
      - '*.gradle.kts'
      - 'gradle.properties'
      - 'lint.xml'

permissions:
  contents: read

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[skip build]') == false

    strategy:
      matrix:
        java-version: [17]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Build with Gradle
        run: ./gradlew build
