name: Build

on:
  workflow_dispatch:
  push:
    branches: ['main']
    paths-ignore:
      - '.idea/**'
      - '.vscode/**'
      - '.npmignore'
      - '.npmrc'
      - 'LICENSE'
      - 'LICENSE_LIBYUV.txt'
      - '*.md'
      - 'bumpver.toml'
      - 'commitlint.config.cjs'
      - 'lefthook.yaml'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'
  pull_request:
    paths-ignore:
      - '.idea/**'
      - '.vscode/**'
      - '.npmignore'
      - '.npmrc'
      - 'LICENSE'
      - 'LICENSE_LIBYUV.txt'
      - '*.md'
      - 'bumpver.toml'
      - 'commitlint.config.cjs'
      - 'lefthook.yaml'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'

permissions:
  contents: write

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[skip build]') == false

    strategy:
      matrix:
        java-version: [17]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          dependency-graph: generate-and-submit

      - name: Build with Gradle
        run: ./gradlew build
